<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="header navbar navbar-expand-lg bg-body-tertiary d-flex flex-row justify-content-between px-5 align-items-center">
    <div><img src="https://www.slashfilm.com/img/slashfilm-logo.svg" style="width: 120px;"></div>
    <ol class="d-flex flex-row gap-2 list-unstyled m-0">
      <li class="login">Login</li>
    </ol>
  </div>
    <%= yield %>
  </body>
</html>
